mixin types()
	+b.types
		.container
			+e.wrap
				h1.h1 НЕДВИЖИМОСТЬ В ГЕРМАНИИ
				+e.list
					-
						var items = [
							'Квартиры и дома',
							'Новостройки',
							'Коммерческая недвижимость',
							'Доходные квартиры',
							'Земельные участки'
						]
					each item in items
						+e.item
							a(href='#')= item