mixin types()
	+b.types
		.container
			+e.wrap
				h1.h1 НЕДВИЖИМОСТЬ В ГЕРМАНИИ
				+e.list
					-
						var items = [
							'Квартиры и дома',
							'Доходные квартиры',
							'Новостройки',
							'Земельные участки',
							'Коммерческая недвижимость'
						]
					each item in items
						+e('a').item(href='#')= item