mixin steps()
	+b.steps
		.container
			h2.title.c-white.text-center Как купить недвижимость в Германии
			+e.slider
				- for (let i = 0; i < 4; i++)
					+e.item
						+e.top
							+e.img
								img(src='assets/images/steps/icon.svg' alt='')
								+e.number 01
							+e.text
								+e('span').name Подписание договора о поиске объекта
								+e('p').desc Принимая решение купить доходную недвижимость в Европе, многие профессиональные инвесторы отдают предпочтение Германии. И в этом нет ничего удивительного. Доступные цены, надежность экономики и стабильность политической ситуации в стране формируют благоприятный инвестиционный климат с возможностью просчитать развитие рынка в долгосрочной перспективе.
						+e.bottom
							+e('a').link(href='#') Прочитать об этапах покупки подробнее
							+e('ul').list
								-
									var items = [
										{
											text: 'Выбор объекта',
											number: '02'
										},
										{
											text: 'Бронирование объекта и договор об оказании риэлторских услуг',
											number: '03'
										},
										{
											text: 'Предварительный договор купли-продажи',
											number: '04'
										},
										{
											text: 'Проверка объекта',
											number: '05'
										},
										{
											text: 'Подписание договора купли-продажи',
											number: '06'
										},
										{
											text: 'Оплата стоимости объекта',
											number: '07'
										},
										{
											text: 'Переход права собственности и регистрация нового собственника',
											number: '08'
										}
									]
								each item in items
									+e('li').li
										+e.li-number= item.number
										+e.name= item.text
